.noMatchContent {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 80px);
    background-color: #F2F2FF;
    background: rgba(242, 242, 255, 0.85);
    padding-top: 20px;
    padding-bottom: 20px;
    background-size: cover;
    background-repeat: repeat-y;
    max-width: 98vw;
    border: 2px solid #938396;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}